/* Formulario padrao */
fieldset.form {
	text-align:left;
	width:auto;
	border: 0px solid black;
	margin-top:5px;
	padding:5px;
}
legend.legendForm{
	padding-left:5px;
	padding-right:5px;
	margin-left:15px;
	font-weight: bold;
}
input.form, select.form, textarea.form{ 
	padding: .4em;
}
fieldset.fieldsetForm{
	float:left;
	width:auto;
	border: 0;
}
fieldset.fieldInterno{
	display: inline;
	width:auto;
	padding-left: .5em; 
	border: 0;
}
div .formulario{
	position:relative;
	height: auto; 
	width: auto; 
}